{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
<form name="proveedor" action="" id="proveedor" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-10">
                <h2 class="titulos">Proveedores</h2>
            </div>
            <div class="col-2">
                <a href="/proveedoresForm" class="btn btn-success">Nuevo Proveedor</a>
            </div>
        </div>
        <table class="table table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Direccion</th>
                    <th>Contacto</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for prvd in Proveedor%}
                <tr>
                    <td>{{prvd.nombreEmpresa}}</td>
                    <td>{{prvd.direccion}}</td>
                    <td>{{prvd.contacto}}</td>
                    <td><button class="btn btn-danger" name="buttonP" value="{{prvd.id_proveedor}}" id="btnEliminarP">Eliminar</button></td>
                    <td><a href="/proveedoresUpdate?id={{prvd.id_proveedor}}" class="btn btn-warning">Modificar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
</form>
{% endblock %}