{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
<form name="proveedor" action="" id="proveedor" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="container">
        <div class="row mb-4">
            <div class="col-8">
                <h3>Modificar Proveedor</h3>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="/proveedores" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                {{input_Form(formProveedor.id, class="form-control", readonly="readonly")}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                {{input_Form(formProveedor.nombreEmpresa, class="form-control")}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                {{input_Form(formProveedor.direccion, class="form-control")}}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-8">
                {{input_Form(formProveedor.contacto, class="form-control")}}
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex justify-content-center">
                <button class="btn btn-success" type="submit" name="btnPrv" value="btnModificarrPrv" id="btnModificarrPrv">Modificar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}