{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form name="proveedor" action="" id="proveedor" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-10">
                <h2 class="titulos">Proveedores Eliminados</h2>
            </div>
            <div class="col-2">
                <a href="/proveedores" class="btn btn-primary">Regresar</a>
            </div>
        </div>
        <table class="table table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Direccion</th>
                    <th>Contacto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for prvd in Proveedor%}
                <tr>
                    <td>{{prvd.nombreEmpresa}}</td>
                    <td>{{prvd.direccion}}</td>
                    <td>{{prvd.contacto}}</td>
                    <td><button class="btn btn-warning" name="buttonP" value="{{prvd.id_proveedor}}" id="btnRestaurarP" onclick="return confirmAction('restaurar')">Restaurar</button></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
</form>
<script>
    function confirmAction(action) {
        if (confirm("¿Estás seguro de que deseas " + action + " este proveedor?")) {
            return true;
        } else {
            return false;
        }
    }
</script>
{% endblock %}