{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('carmateriasPrimass').onchange = function() {
            var selectedOption = this.options[this.selectedIndex];
            var otraPropiedad = selectedOption.getAttribute('dataTM');
            if (otraPropiedad == 1){
                otraPropiedad = "Gramos"
            } else if (otraPropiedad == 2){
                otraPropiedad = "Piezas"
            } else if (otraPropiedad == 3) {
                otraPropiedad = "Mililitros"
            }
            document.getElementById('tipoMedida').value = otraPropiedad;
        };
    });    
</script>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    <form name="receta" action="/recetas" id="receta" method="POST" enctype="multipart/form-data">
        <div class="row">
            <h2 class="titulos">Recetas</h2>
        </div>
        
        <div class="row mt-3">
            <div class="col-1" style="margin-top: 32px;">
                {{ input_Form(formReceta.id_receta, class="form-control", disabled=True) }}
                <input type="hidden" name="id_receta" value="{{ formReceta.id_receta.data }}">
            </div>
            <div class="col-4">
                    <h4 class="titulos">Agregar nueva receta</h4>
                <div class="col mt-2"> 
                        <label for="materiasPrimas" class="form-label">Selecciona la materia prima:</label>
                        <select id="carmateriasPrimass" name="materiasPrimas" class="form-select">
                            {% for mp in materiasPrimas %}
                                <option value="{{ mp.id_materiaPrima }}" dataTM="{{ mp.tipomedidasmaterialprimas_id_medida }}">{{ mp.nombre }}</option>
                            {% endfor %}
                        </select>
                        <div class="row">
                            <div class="col mt-2">
                                {{input_Form(formReceta.cantidad, class="form-control", type="number")}}
                            </div>
                            <div class="col">
                                <label for="tipoMedida" class="form-label">Topo de medida:</label>
                                <input type="text" id="tipoMedida" name="tipoMedida" class="form-control" readonly>
                            </div>
                        </div>
                        
                        
                        <div style="text-align: center;">
                            <input type="submit" id="registrar" class="btn btn-dark mt-3" name="registrar" value="Registrar ingrediente"/>
                        </div>   
                        <div class="row">
                            <div class="col mt-2">
                                {{input_Form(formReceta.nombreReceta, class="form-control")}} 
                            </div>
                            <div class="col">
                                <label for="file" class="form-label">Imagen de la galleta</label>
                                <input type="file" class="form-control" name="file">
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col mt-2">
                                {{input_Form(formReceta.tiempoHornear, class="form-control", type="number")}} 
                            </div>
                            <div class="col">
                                <label class="form-label">Peso por galleta en gramos</label>
                                <input type="text" id="pesajeGramos" name="pesajeGramos" class="form-control">
                            </div>
                        </div>                            
                        <div class="row">
                            {{input_Form(formReceta.totalGalletas, class="form-control", type="number")}}
                            {{input_Form(formReceta.descripcion, class="form-control")}}
                            {{input_Form(formReceta.precioTotal, class="form-control", type="number")}}
                        </div>
                </div>
            </div>
            <div class="col" style="margin-top: 50px;">
                <h4 class="titulos">Ingredientes de la receta</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>Ingredientes</th>
                        <th>Cantidad</th>
                        <th>Tipo de medida</th>
                        <th>Eliminar</th>
                    </tr>
                    {% for r in receta %}
                    <tr>
                        <td>{{ r['ingrediente'] }}</td>
                        <td>{{ r['cantidad'] }}</td>
                        <td>{{ r['tipoMedida'] }}</td>
                        <td><input type="submit" id="eliminar" class="btn btn-danger" name="eliminar" value="{{ r['id_catReceta'] }}"/> </td>                        
                    </tr>
                    {% endfor %}
                </table>
                <div class="col mt-3 mb-3 mt-5">  
                    <h4 class="titulos">Recetas existentes</h4>
                    <table class="table table-bordered">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Modificar</th>
                        </tr>
                        {% for rc in recetasCargadas %}
                        <tr>
                            <td>{{ rc.nombre }}</td>
                            <td>{{ rc.descripcion }}</td>
                            <td><input type="submit" id="obtenerModificar" class="btn btn-info" name="obtenerModificar" value="{{ rc.id_receta }}"/> </td>                        
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    <div id="myModal" style="display: none; border: 1px solid black; padding: 20px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; z-index: 1;">
        <span onclick="closeModal('myModal')" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
        <h2>¿Quieres agregar esta receta?</h2>
        <input type="submit" id="insertar" class="btn btn-success" name="insertar" value="Confirmar"/>
        <input type="button"  onclick="closeModal('myModal')" class="btn btn-danger" value="Cancelar"/>
    </div>
    <div class="row mt-3" style="margin-left: 124px;">
        <div class="col-md-4">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <input type="button"  onclick="openModal()" class="btn btn-success" value="Insertar receta"/>
            <input type="submit" id="cargar" class="btn btn-primary" name="cargar" value="Cargar recetas"/>
            <input type="submit" id="actualizar" class="btn btn-warning" name="actualizar" value="Actualizar receta"/>
        </div>
    </div>
    {% if mostrar_modal %}
    <div>
        <div id="modal" class="modal" style="{% if mostrar_modal %}display: block;{% else %}display: none;{% endif %}">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                <h3 style="color: red;">NOTIFICACIÓN</h3>
                <p>Ya existe la receta con el id {{id_re}}</p>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% if mostrar_modal_campos %}
    <div>
        <div id="modal" class="modal" style="{% if mostrar_modal_campos %}display: block;{% else %}display: none;{% endif %}">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                <h3 style="color: red;">NOTIFICACIÓN</h3>
                <p>No puede haber campos vacios</p>
            </div>
        </div>
    </div>
    
    {% endif %}

    {% if mostrar_modal_campos_ingrdientes %}
    <div>
        <div id="modal" class="modal" style="{% if mostrar_modal_campos_ingrdientes %}display: block;{% else %}display: none;{% endif %}">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                <h3 style="color: red;">NOTIFICACIÓN</h3>
                <p>Agrega ingredientes a la receta</p>
            </div>
        </div>
    </div>
    
    {% endif %}

    {% if modal_cantidad %}
    <div>
        <div id="modal" class="modal" style="{% if modal_cantidad %}display: block;{% else %}display: none;{% endif %}">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                <h3 style="color: red;">NOTIFICACIÓN</h3>
                <p>Agrega una cantidad del ingrediente</p>
            </div>
        </div>
    </div>
    
    {% endif %}

    {% if modal_ingrediente_repetido %}
    <div>
        <div id="modal" class="modal" style="{% if modal_ingrediente_repetido %}display: block;{% else %}display: none;{% endif %}">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                <h3 style="color: red;">NOTIFICACIÓN</h3>
                <p>No se puede agregar el mismo ingrediente</p>
            </div>
        </div>
    </div>
    
    {% endif %}

    {% if modal_tipoMvacio %}
    <div>
        <div id="modal" class="modal" style="{% if modal_tipoMvacio %}display: block;{% else %}display: none;{% endif %}">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                <h3 style="color: red;">NOTIFICACIÓN</h3>
                <p>Debe de haber un tipo de medida</p>
            </div>
        </div>
    </div>
    
    {% endif %}
</form>
</div>
{% endblock %}
