{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
<div class="container">
    <div class="row">
        <h2 class="titulos">Mermas</h2>
        <div class="col-md-6 mt-3">
            <h4 class="titulos">Productos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Fecha</th>
                        <th>Tipo de Mermado</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for merma in mermas_tipo_1 %}
                        <tr>
                            <td>{{ merma.nombre }}</td>
                            <td>{{ merma.caducidad }}</td>
                            <td>{{  merma.tipo_merma.descripcion }}</td>
                            <td>{{ merma.cantidad }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 mt-3">
            <h4 class="titulos">Galletas</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Galleta</th>
                        <th>Fecha</th>
                        <th>Tipo de Mermado</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for merma in mermas_tipo_2 %}
                        <tr>
                            <td>{{ merma.nombre }}</td>
                            <td>{{ merma.caducidad }}</td>
                            <td>{{ merma.tipo_merma.descripcion }}</td>
                            <td>{{ merma.cantidad }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
