{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}

<style>
    .card-body + .card-body {
        border-top: 1px solid #eee; /* Opcional: añade una línea divisoria */
        margin-top: -20px; /* Ajusta según sea necesario para acercar */
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }
</style>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container mb-4">
    <div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-4 mx-md-3">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-4 pb-1">Registro de usuario</h4>
                                </div>
                                <form method="POST" action="/usuario">
                                    <div id="deleteModal" class="modal">
                                        <div class="modal-content">
                                            <span>¿Estás seguro de que quieres eliminar este usuario?</span>
                                            <form method="POST" action="/usuario">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                                <input type="hidden" id="userIdToDelete" name="eliminar" value="" />
                                                <div class="d-flex justify-content-between">
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        Eliminar
                                                    </button>
                                                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancelar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ input_Form(formUsuario.nombre, class="form-control", placeholder="Nombre") }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ input_Form(formUsuario.nombreUsuario, class="form-control", placeholder="Usuario") }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ input_Form(formUsuario.contrasenia, class="form-control", placeholder="Contraseña") }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ input_Form(formUsuario.puesto, class="form-control", placeholder="Puesto") }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ input_Form(formUsuario.rol, class="form-control", placeholder="Rol") }}
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                                        <input type="submit" name="registrar" value="Registrarse" class="btn btn-success" />
                                        <input type="submit" name="actualizar" value="Actualizar" class="btn btn-warning"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body p-md-4 mx-md-3">
                                <h4 class="mb-4">Lista de usuarios</h4>
                                <form method="POST" action="/usuario">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Usuario</th>
                                                <th>Puesto</th>
                                                <th>Rol</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for usuario in usuarios %}
                                            <tr>
                                                
                                                <td>{{ usuario.nombre }}</td>
                                                <td>{{ usuario.nombreUsuario }}</td>
                                                <td>{{ usuario.puesto }}</td>
                                                <td>{{ usuario.rol }}</td>
                                                <td>
                                                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                                                    <input type="hidden" name="usuario_id" value="{{ usuario.id_usuario }}">
                                                    <button type="submit" name="accion" value="editar_{{ usuario.id_usuario }}" class="btn btn-sm btn-warning">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </button>
                                                    <!-- <button type="submit" name="eliminar" value="{{ usuario.id_usuario }}" class="btn btn-sm btn-primary">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </button> -->
                                                    <button type="button" class="btn btn-sm btn-danger" data-user-id="{{ usuario.id_usuario }}" onclick="openDeleteModal(this)">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("dentro del script")
    function openDeleteModal(button) {
    var userId = button.getAttribute('data-user-id');
    var modal = document.getElementById('deleteModal');
    document.getElementById('userIdToDelete').value = userId;
    modal.style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', function() {
        function closeModal() {
            var modal = document.getElementById('deleteModal');
            modal.style.display = 'none';
        }

        var cancelButton = document.querySelector(".btn-secondary");
        cancelButton.addEventListener('click', closeModal);
    });
    
</script>
{% endblock %}

