{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
<div class="container">
    <style>
        /* Estilos para el modal */
        .modal {
            display: none; /* Por defecto, oculto */
            position: fixed; /* Posición fija */
            z-index: 1; /* Por encima de todo */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* Permite desplazamiento */
            background-color: rgb(0,0,0); /* Fondo negro semitransparente */
            background-color: rgba(0,0,0,0.4); /* Fondo negro semitransparente */
        }
    
        /* Estilos para el contenido del modal */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* Margen superior e inferior para centrar verticalmente */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Ancho del contenido del modal */
        }
    
        /* Estilos para el botón de cerrar el modal */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
    
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    </head> 
    <body>
    
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <!-- Contenido del modal -->
                <h2>Productos a Punto de Caducar ¡URGENTE UTILIZAR!</h2>
                <h3>Galletas por caducar:</h3>
                {% for producto in galletasc %}
                {{ producto.nombre}}<br>
                {% endfor %}
                <button id="hacerMasGalletas">Hacer más galletas</button>
            </div>
        </div>
    
        <!-- Script JavaScript para mostrar el modal automáticamente -->
        <script>
            // Función para abrir el modal automáticamente al cargar la página
            window.onload = function() {
                document.getElementById("myModal").style.display = "block";
            };
    
            // Seleccionar el modal, el botón para cerrarlo y el botón "Hacer más galletas"
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            var hacerMasGalletasButton = document.getElementById("hacerMasGalletas");
    
            // Cuando el usuario haga clic en <span> (x), cerrar el modal
            span.onclick = function() {
                modal.style.display = "none"; // Ocultar el modal
            }
    
            // Cuando el usuario haga clic en el botón "Hacer más galletas", redireccionar a produccionGalleta.html
            hacerMasGalletasButton.onclick = function() {
                window.location.href = "/produccionGalleta";
            }
    
            // Cuando el usuario haga clic en cualquier lugar fuera del modal, cerrarlo
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none"; // Ocultar el modal
                }
            }
        </script>
  
    <form name="venta" action="/ventas" id="venta" method="POST">
        <div id="boton-container">
            <input type="button" onclick="openModalCaja()" id="imprimir" class="btn btn-success" name="imprimir" value="Abrir caja"/>
        </div>
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div id="menu" class="menu">
            <ul>
                <li></li>
                <li></li>
                {% for item in menu_items %}
                    <li><h6>{{ item.nombre }} - ${{ item.precio }}</h6></li>
                    <hr>
                {% endfor %}
                <li></li>
                <li><input type="button"  onclick="openModalVenta()" class="btn btn-success" value="Realizar venta"/></li>
                <li><input type="button" onclick="openModalVentaImpresion()" id="imprimir" class="btn btn-success" name="imprimir" value="Realizar venta e imprimir     "/></li>
            </ul>
        </div>

        <div class="container" style="margin-top: 1px; margin-bottom: 40px">
            <div class="row">
                {% for galleta in galletas %}
                <div class="col">
                    <div class="card mt-5" style="width: 15rem;">
                        <img src="static/img/logoSweetDreams.jpeg" style="width: 180px; height: 180px; margin: 0 auto;" class="card-img-top" alt="Galleta {{ galleta.id_galleta+1 }}">
                        <h5 style="margin: auto;">{{galleta.nombre}}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Pieza ${{galleta.precioPieza}}
                                <div class="ml-auto">
                                    <input type="submit" id="agregarPieza" class="btn btn-success rounded-circle" name="agregarPieza" value="{{ galleta.id_galleta }}"/>
                                    <input type="submit" id="quitarPieza" class="btn btn-danger rounded-circle" name="quitarPieza" value="{{ galleta.id_galleta }}"/>
                                </div>
                            </li>                   
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                700 Gm ${{galleta.precioPaquete1}}
                                <div class="ml-auto">
                                    <input type="submit" id="agregarPaq1" class="btn btn-success rounded-circle" name="agregarPaq1" value="{{ galleta.id_galleta }}"/>
                                    <input type="submit" id="quitarPaq1" class="btn btn-danger rounded-circle" name="quitarPaq1" value="{{ galleta.id_galleta }}"/>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                1 kg ${{galleta.precioPaquete2}}
                                <div class="ml-auto">
                                    <input type="submit" id="agregarPaq2" class="btn btn-success rounded-circle" name="agregarPaq2" value="{{ galleta.id_galleta }}"/>
                                    <input type="submit" id="quitarPaq2" class="btn btn-danger rounded-circle" name="quitarPaq2" value="{{ galleta.id_galleta }}"/>
                                </div>
                            </li>
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                        </ul>
                    </div>            
                </div> 
                {% endfor %}
            </div>
        </div>
        <div id="modalVenta" class="modal-general">
            <span onclick="closeModalVenta('modalVenta')" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
            <h2>Total: ${{totalVenta}}</h2>
            <h3>¿Quieres realizar la venta?</h3>
            <input type="submit" id="vender" class="btn btn-success" name="vender" value="Realizar venta"/>
            <input type="button"  onclick="closeModalVenta('modalVenta')" class="btn btn-danger" value="Cancelar"/>
        </div>

        <div id="modalVentaImpresion" class="modal-general">
            <span onclick="closeModalVentaImpresion('modalVentaImpresion')" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
            <h2>Total: ${{totalVenta}}</h2>
            <h3>¿Quieres realizar la venta e imprimir el ticket?</h3>
            <input type="submit" id="venderImprimir" class="btn btn-success" name="venderImprimir" value="Realizar venta"/>
            <input type="button"  onclick="closeModalVentaImpresion('modalVentaImpresion')" class="btn btn-danger" value="Cancelar"/>
        </div>
        
        <div id="modalVentaCaja" class="modal-general">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <span onclick="closeModalCaja('modalVentaCaja')" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
            <h2>Ingresa la contraseña:</h2>
            <input type="password" name="contrasenia" placeholder="Ingrese su contraseña">
            <input type="submit" id="AceptarContrasenia" class="btn btn-success" name="AceptarContrasenia" value="Aceptar"/>
        </div>

        {% if modalAgregarGalleta %}
        <div>
            <div id="modal" class="modal-general" style="{% if modalAgregarGalleta %}display: block;{% else %}display: none;{% endif %}">
                <span onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                    <h3 style="color: rgb(255, 255, 0);">NOTIFICACIÓN</h3>
                    <h5>Agrega productos a la venta</h5>
            </div>
        </div>
        {% endif %}

        {% if modalVentaRealizada %}
        <div>
            <div id="modal" class="modal-general" style="{% if modalVentaRealizada %}display: block;{% else %}display: none;{% endif %}">
                <span onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                    <h3 style="color: rgb(0, 0, 0);">Venta realizada</h3>
                    <h5>Se realizó la venta con éxito!!</h5>
            </div>
        </div>
        {% endif %}

        {% if modalCajaValido %}
        <div>
            <div id="modal" class="modal-general" style="{% if modalCajaValido %}display: block;{% else %}display: none;{% endif %}">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <span onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                <h3 style="color: rgb(0, 0, 0);">¿Cuanto dinero deseas retirar?</h3>
                <input type="number" name="montoRetiro" placeholder="Ingrese el monto">
                <input type="submit" id="retiro" class="btn btn-success" name="retiro" value="Retirar"/>
                <input type="button" onclick="cerrarModal()" class="btn btn-danger" value="Cancelar"/>
            </div>
        </div>
        {% endif %}

        {% if modalCajaInvalido %}
        <div>
            <div id="modal" class="modal-general" style="{% if modalCajaInvalido %}display: block;{% else %}display: none;{% endif %}">
                <span onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                    <h3 style="color: rgb(0, 0, 0);">Sin acceso</h3>
                    <h5>Contraseña incorrecta</h5>
            </div>
        </div>
        {% endif %}
        
        {% if modalSinDinero %}
        <div>
            <div id="modal" class="modal-general" style="{% if modalSinDinero %}display: block;{% else %}display: none;{% endif %}">
                <span onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                    <h3 style="color: rgb(0, 0, 0);">NOTIFICACIÓN</h3>
                    <h5>No hay suficiente dinero en la caja</h5>
            </div>
        </div>
        {% endif %}

        {% if modalRetiroExitoso %}
        <div>
            <div id="modal" class="modal-general" style="{% if modalRetiroExitoso %}display: block;{% else %}display: none;{% endif %}">
                <span onclick="cerrarModal()" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                    <h3 style="color: rgb(0, 0, 0);">NOTIFICACIÓN</h3>
                    <h5>Se retiro el dinero</h5>
            </div>
        </div>
        {% endif %}
    </div>
    </form>
</div>


{% endblock %}
