{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
<div class="container">
    <style>
        /* Estilos para el modal */
        .modal {
            display: none; /* Por defecto, oculto */
            position: fixed; /* Posición fija */
            z-index: 1; /* Por encima de todo */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* Permite desplazamiento */
            background-color: rgb(0,0,0); /* Fondo negro semitransparente */
            background-color: rgba(0,0,0,0.4); /* Fondo negro semitransparente */
        }
    
        /* Estilos para el contenido del modal */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* Margen superior e inferior para centrar verticalmente */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Ancho del contenido del modal */
        }
    
        /* Estilos para el botón de cerrar el modal */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
    
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %} -->
    </head> 
    <body>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <!-- Contenido del modal -->
                <h2>Productos a Punto de Caducar ¡URGENTE UTILIZAR!</h2>
                <h3>Galletas por caducar:</h3>
                {% for producto in galletasc %}
                {{ producto.nombre}}<br>
                {% endfor %}
                <button id="hacerMasGalletas">Hacer más galletas</button>
            </div>
        </div>
        <!-- Script JavaScript para mostrar el modal automáticamente -->
        <script>
            // Función para abrir el modal automáticamente al cargar la página
            window.onload = function() {
                document.getElementById("myModal").style.display = "block";
            };
    
            // Seleccionar el modal, el botón para cerrarlo y el botón "Hacer más galletas"
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            var hacerMasGalletasButton = document.getElementById("hacerMasGalletas");
    
            // Cuando el usuario haga clic en <span> (x), cerrar el modal
            span.onclick = function() {
                modal.style.display = "none"; // Ocultar el modal
            }
    
            // Cuando el usuario haga clic en el botón "Hacer más galletas", redireccionar a produccionGalleta.html
            hacerMasGalletasButton.onclick = function() {
                window.location.href = "/produccionGalleta";
            }
    
            // Cuando el usuario haga clic en cualquier lugar fuera del modal, cerrarlo
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none"; // Ocultar el modal
                }
            }
        </script>
  
    <form name="venta" action="/ventas" id="venta" method="POST">
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        
        <div id="menu" class="menu">
            <ul>
                <li></li>
                <li></li>
                {% for item in menu_items %}
                    <li>{{ item.nombre }} - ${{ item.precio }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="container" style="margin-top: 1px; margin-bottom: 40px">
            <div class="row">
                {% for galleta in galletas %}
                <div class="col">
                    <div class="card mt-5" style="width: 15rem;">
                        <img src="static/img/logoSweetDreams.jpeg" style="width: 180px; height: 180px; margin: 0 auto;" class="card-img-top" alt="Galleta {{ galleta.id_galleta+1 }}">
                        <h5 style="margin: auto;">{{galleta.nombre}}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Pieza ${{galleta.precioPieza}}
                                <div class="ml-auto">
                                    <input type="submit" id="agregarPieza" class="btn btn-success rounded-circle" name="agregarPieza" value="{{ galleta.id_galleta }}"/>
                                    <input type="submit" id="quitarPieza" class="btn btn-danger rounded-circle" name="quitarPieza" value="{{ galleta.id_galleta }}"/>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            Gramos ${{galleta.precioGramos}}
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control form-control-sm" style="width: 50px;">
                                    <input type="submit" id="agregarGramos" class="btn btn-success rounded-circle" name="agregarGramos" value="{{ galleta.id_galleta }}"/>
                                </div>
                            </li>                    
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                700 Gm ${{galleta.precioPaquete1}}
                                <div class="ml-auto">
                                    <input type="submit" id="agregarPaq1" class="btn btn-success rounded-circle" name="agregarPaq1" value="{{ galleta.id_galleta }}"/>
                                    <input type="submit" id="quitarPaq1" class="btn btn-danger rounded-circle" name="quitarPaq1" value="{{ galleta.id_galleta }}"/>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                1 kg ${{galleta.precioPaquete2}}
                                <div class="ml-auto">
                                    <input type="submit" id="agregarPaq2" class="btn btn-success rounded-circle" name="agregarPaq2" value="{{ galleta.id_galleta }}"/>
                                    <input type="submit" id="quitarPaq2" class="btn btn-danger rounded-circle" name="quitarPaq2" value="{{ galleta.id_galleta }}"/>
                                </div>
                            </li>
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                        </ul>
                    </div>            
                </div> 
                {% endfor %}
            </div>
        </div>
    </form>
</div>


{% endblock %}
