{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}

<div class="content">
</head> 
<body>

    <div id="myModal" class="modal-general">
            <span class="close">&times;</span>
            <h2>Estas son tus galletas que estan listas para mandar a mostrador</h2>
            <div class="row">
                {% for galleta in  galletas_preparadaditas %}
                    <tr>
                        <td><h4> * {{ galleta }}</h4></td>
                    </tr>
                {% endfor %}
            </div>
            <div class="row">
                <input type="button" onclick="closeModalProduccion()" class="btn btn-danger" value="Cerrar"/>
            </div>
    </div>

    <div id="modalConfirmacion" class="modal-general">
        <span onclick="closeModalConfirmacion('modalConfirmacion')" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
        <h2>Total: ${{totalVenta}}</h2>
        <h3>¿Quieres realizar la venta?</h3>
        <input type="submit" id="vender" class="btn btn-success" name="vender" value="Realizar venta"/>
        <input type="button"  onclick="closeModalConfirmacion('modalConfirmacion')" class="btn btn-danger" value="Cancelar"/>
    </div>
    <script>
        window.onload = function() {
            document.getElementById("myModal").style.display = "block";
        };

        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none"; 
            }
        }
        
        function closeModalProduccion() {
            document.getElementById("myModal").style.display = "none";
        }
        

        function closeModalProduccion() {
            document.getElementById("myModal").style.display = "none";
        }

        
    </script>
    <h2>Selecciona una galleta para producir:</h2>
    <div id="botonesGalletas">
        <form action="/produccionGalleta" method="post" id="registro"> 
            
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="accion" id="accion" value="Guardar">
            <div id="botonesGalletas">
                <button class="product-btn" type="submit" name="galleta" value="Chispas de Chocolate">Chispas de Chocolate</button>
                <button class="product-btn" type="submit" name="galleta" value="Mantequilla">Mantequilla</button>
                <button class="product-btn" type="submit" name="galleta" value="Avena">Avena</button>
                <button class="product-btn" type="submit" name="galleta" value="Macarrones">Macarrones</button>
                <button class="product-btn" type="submit" name="galleta" value="Jengibre">Jengibre</button>
                <button class="product-btn" type="submit" name="galleta" value="Polvorones">Polvorones</button>
                <button class="product-btn" type="submit" name="galleta" value="Pastisetas">Pastisetas</button>
                <button class="product-btn" type="submit" name="galleta" value="Nuez">Nuez</button>
                <button class="product-btn" type="submit" name="galleta" value="Coco">Coco</button>
                <button class="product-btn" type="submit" name="galleta" value="Almendras">Almendras</button>
            </div>  
            <div class="hamburger-menu" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            
            <div id="menu" class="menu">
                <ul>
                    <li></li>
                    <li></li>
                   
                </ul>
                
                <div>
                    <h2>Galletas en Preparación:</h2>
                    <ul id="galletasEnPreparacion">
                        {% for galleta in galletas_en_preparacion %}
                        <li>{{ galleta }}</li>
                        {% endfor %}
                    </ul>
                </div>
            
                <div>
                    <h2>Galletas Preparadas:</h2>
                    <ul id="galletasPreparadas">
                        {% for galleta in galletas_preparadas %}
                        <li>{{ galleta }}</li>
                        {% if galleta_enviada_al_mostrador %}
                            <script>
                                var galleta_enviada = "{{ galleta_enviada_al_mostrador }}";
                                
                                var tiempos_galletas = {
                                    "Chispas de Chocolate": 10,  
                                    "Mantequilla": 10,              
                                    "Avena": 9,                 
                                    "Macarrones" :100,
                                    "Jengibre":15,
                                    "Polvorones":1,
                                    "Pastisetas":1,
                                    "Nuez":10,
                                    "Coco":1,
                                    "Almendras":1,
                                };
                                
                                var tiempo_espera = tiempos_galletas[galleta_enviada] || 10;
                                
                                setTimeout(function() {
                                    var confirmacion = confirm("¡La galleta " + galleta_enviada + " está lista! ¿Quieres pasarla al mostrador?");
                                    if (confirmacion) {
                                        document.getElementById('accion').value = 'Enviar al Mostrador';
                                        document.getElementById('registro').submit();
                                    } else {
                                        window.location.href;
                                    }
                                }, tiempo_espera * 1000);
                            </script>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <input class="product-btn" type="submit" value="Enviar al Mostrador" onclick="document.getElementById('accion').value = 'Enviar al Mostrador'">
                <input class="product-btn" type="submit" value="Mostrar galletas en Preparacion" onclick="document.getElementById('accion').value = 'Mostrar galletas en Preparacion'">
                <input class="product-btn" type="submit" value="Mostrar galletas Preparadas" onclick="document.getElementById('accion').value = 'Mostrar galletas Preparadas'">
            </div>
        </form>
    </div>
</div>

<script>
    function toggleMenu() {
    }
    
       
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-y+o2IGgYzvA33vTfVd9kQOk39mTVoyt6HdIe7N1e+Gg5FpJzX9Le7+QY/UvYx92tAys1JV5Z31lb7sY1cfsNuw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    const socket = io();

    socket.on('galleta_preparada', function(galleta) {
        alert('¡La galleta ' + galleta + ' está lista!');
        
    });
</script>
<style>
    .content {
        padding: 20px;
    }

    .product-btn {
        display: block;
        width: 200px;
        margin: 10px auto;
        padding: 10px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    .product-btn:hover {
        background-color: #45a049;
    }
</style>


   


{% endblock %}
