{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="content">
    <style>
        
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
        }

       
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            border: 1px solid #888;
            width: 80%; 
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head> 
<body>

  
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            
            <h2>Estas son tus galletas que estan listas para mandar a mostrador</h2>
          
            
            
            {% for galleta in  galletas_preparadaditas %}
            <tr>
                <td>{{ galleta }}</td>
                
                <td></td>
            </tr>
            {% endfor %}
            <button onclick="window.location.href = 'produccionGalleta';">ok</button>
        </div>
    </div>
    <script>
        
        window.onload = function() {
            document.getElementById("myModal").style.display = "block";
        };

        
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none";
            
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none"; 
            }
        }
        


        
    </script>
    <h2>Selecciona una galleta para producir:</h2>
    <div id="botonesGalletas">
        <form action="/produccionGalleta" method="post" id="registro"> 
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="accion" id="accion" value="Guardar">
            <div id="botonesGalletas">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Total de Galletas</th>
                            <th></th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in nombres_galletas  %}
                        <tr>
                            <td>{{detalle.nombre}}</td>
                            <td>{{ detalle.descripcion }}</td>
                            <td>{{ detalle.totalGalletas }}</td>
                            <td><button class="product-btn" type="submit" name="galleta" value="{{ detalle.nombre }}">Producir</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                
            
             
            <div class="hamburger-menu" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            
            <div id="menu" class="menu">
                <ul>
                    <li></li>
                    <li></li>
                   
                </ul>
                
                <div>
                    <h2>Galletas en Preparación:</h2>
                    <ul id="galletasEnPreparacion">
                        {% for galleta in galletas_en_preparacion %}
                        <li>{{ galleta }}</li>
                        {% endfor %}
                    </ul>
                </div>
            
                <div>
                    <h2>Galletas Preparadas:</h2>
                    <ul id="galletasPreparadas">
                        {% for galleta in galletas_preparadas %}
                        <li>{{ galleta }}</li>
                        {% if galleta_enviada_al_mostrador %}
                            <script>
                                // Obtener el nombre de la galleta enviada al mostrador
                                var galleta_enviada = "{{ galleta_enviada_al_mostrador }}";
                                
                                // Definir los tiempos de las galletas preparadas
                                var tiempos_galletas = {
                                    "Chispas de Chocolate": 10,  
                                    "Mantequilla": 10,              
                                    "Avena": 9,                 
                                    "Macarrones" :100,
                                    "Jengibre":15,
                                    "Polvorones":1,
                                    "Pastisetas":1,
                                    "Nuez":10,
                                    "Coco":1,
                                    "Almendras":1,
                                };
                                
                                // Obtener el tiempo de espera según la galleta enviada al mostrador
                                var tiempo_espera = tiempos_galletas[galleta_enviada] || 10; // 10 segundos por defecto si el tiempo no está definido
                                
                                // Mostrar la confirmación después del tiempo especificado
                                setTimeout(function() {
                                    var confirmacion = confirm("¡La galleta " + galleta_enviada + " está lista! ¿Quieres pasarla al mostrador?");
                                    if (confirmacion) {
                                        document.getElementById('accion').value = 'Enviar al Mostrador';
                                        document.getElementById('registro').submit();
                                    } else {
                                        window.location.href;
                                    }
                                }, tiempo_espera * 1000); // Convertir segundos a milisegundos
                            </script>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <input class="product-btn" type="submit" value="Enviar al Mostrador" onclick="document.getElementById('accion').value = 'Enviar al Mostrador'">
                <input class="product-btn" type="submit" value="Mostrar galletas en Preparacion" onclick="document.getElementById('accion').value = 'Mostrar galletas en Preparacion'">
                <input class="product-btn" type="submit" value="Mostrar galletas Preparadas" onclick="document.getElementById('accion').value = 'Mostrar galletas Preparadas'">
            </div>
        </form>
    </div>
</div>

<script>
    function toggleMenu() {
        // Implementa tu lógica para el menú aquí
    }
    
       
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-y+o2IGgYzvA33vTfVd9kQOk39mTVoyt6HdIe7N1e+Gg5FpJzX9Le7+QY/UvYx92tAys1JV5Z31lb7sY1cfsNuw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    const socket = io();

    // Escuchar el evento 'galleta_preparada'
    socket.on('galleta_preparada', function(galleta) {
        // Mostrar una alerta al usuario
        alert('¡La galleta ' + galleta + ' está lista!');
        
        // Actualizar el contenido del front-end si es necesario
        // Por ejemplo, puedes recargar una lista de galletas preparadas
    });
</script>
<style>
    .content {
        padding: 20px;
    }

    .product-btn {
        display: block;
        width: 200px;
        margin: 10px auto;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    .product-btn:hover {
        background-color: #45a049;
    }
</style>


   


{% endblock %}
