{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form name="compra" action="" id="compra" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-10">
                <h2 class="titulos">Detalle Compra</h2>
            </div>
            <div class="col-2">
                <a href="/compras" class="btn btn-primary">Regresar</a>
            </div>
        </div>
        <table class="table table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th>Nombre Empresa Proveedor</th>
                    <th>Materia Prima</th>
                    <th>Cantidad</th>
                    <th>Tipo de Medida</th>
                    <th>Precio Compra</th>
                </tr>
            </thead>
            <tbody>
                {%for dtCrp in dCompra%}
                <tr>
                    <td>{{dtCrp.proveedor.nombreEmpresa}}</td>
                    <td>{{dtCrp.materia_prima.nombre}}</td>
                    <td>{{dtCrp.cantidad}}</td>
                    <td>{{dtCrp.tipo_medida.descripcion}}</td>
                    <td>{{dtCrp.precio}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
</form>
{% endblock %}