{% extends 'layoutPrincipal.html' %}
{% from "_macros.html" import input_Form %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="titulos">Materia Prima</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Tipo de medida</th>
                    <th>Caducidad</th>
                    <th>Mandar a merma</th>
                </tr>
                {% for mp in materiasPrimas %}
                <tr>
                    <td>{{ mp.nombre }}</td>
                    <td>{{ mp.cantidad }}</td>
                    <td>{{ mp.tipomedidasmaterialprimas_id_medida }}</td>
                    <td>{{ mp.caducidad }}</td>
                    <td><input type="submit" id="mandarMerma" class="btn btn-danger" name="mandarMerma" value="{{ mp.id_materiaPrima }}"/> </td>                        
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-6">
            <h2 class="titulos">Galletas</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Caducidad</th>
                    <th>Mandar a merma</th>
                </tr>
                {% for g in galletas %}
                <tr>
                    <td>{{ g.nombre }}</td>
                    <td>{{ g.cantidad }}</td>
                    <td>{{ g.caducidad }}</td>
                    <td><input type="submit" id="mandarMerma" class="btn btn-danger" name="mandarMerma" value="{{ g.id_galleta }}"/> </td>                        
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
